#mainBox {
    position:relative !important;
    top:0;
    left:25% !important;
    width:50%;
    height:75%;
    background:rgba(0, 0, 0, 0.9);
    color:#fff;
    border:2px solid #343434;
    border-radius:0.5em;
    padding:0.25em;
    font-size:calc(var(--scale) * 2);
    backdrop-filter:blur(0.2em);
    pointer-events:auto;
    box-shadow:inset 0px 0px 30px 2px rgba(0, 0, 0, 0.5), 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.grid-start {
    display:grid;
    position:relative;
    top:1.5em;
    width:100%;
    height:93%;
    border:2px solid #343434;
    border-radius:0.5em;
    gap:0.1em;
}

.gridButton {
    display:inline-grid;
    border-radius:1.0em;
    background:rgba(20, 20, 20, 0.9);
    text-align:center;
    align-content:center;
    border:2px solid rgb(52, 52, 52);
    margin:0.05em;
    font-size:4em;
    color: #9c9c9c;
}

.gridButton:hover {
    filter: brightness(1.3);
}

#createBtn {
    grid-row:1 / span 3;
}

#castBtn {
    grid-row:4 / span 3;
}

#removeBtn {
    grid-row:7 / span 3;
}

#loadFileBtn {
    display: none;
}

#loadFileLabel {
    border: 2px solid #343434;
    border-radius: 0.5em;
    background: rgba(20, 20, 20, 0.9);
    font-size: 1em;
    padding: 0 0.5em;
    color: #9c9c9c;
}

#loadFileLabel:hover, #selectHypno:hover, .gridTextInput:hover, .tabTitle:hover {
    filter: brightness(1.3);
}

#selectHypno {
    color: #9c9c9c;
    border-radius: 0.5em;
}

/*
Create stuff down here, mostly
*/
#createMenu {
    top: 1%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff rgba(0, 0, 0, 0.9);
}

.menu-start {
    position:relative;
    top:1%;
    width:100%;
    height:93%;
    border:2px solid #343434;
    border-radius:0.5em;
}


.gridContainer {
    width: 100%;
    display: flex;
}

#nameContainer {
    border-bottom: 2px solid rgb(52, 52, 52);
    height: 15%;
}

#spawnContainer {
    border-bottom: 2px solid rgb(52, 52, 52);
    border-radius: 0.5em;
    height: 15%;    
}

#spawnLabel {
    width: 60%;
    height: 100%;
}

#formSpawnRange {
    width: 100%;
    height: 50%;
}

#spawnInputContainer {
    width: 40%;
    height: 100%;
    align-content: center;
    color: #9c9c9c;
}

.gridLabel {
    text-align: center;
    align-content: center;
    word-wrap: break-word;
    text-wrap: balance;
    color: #9c9c9c;
    overflow: auto;
}

#nameLabel {
    width: 50%;
    height: 100%;
}

#nameInputContainer {
    width: 50%;
    height: 100%;
    align-content: center;
    color: #9c9c9c;
}

.gridTextInput {
    width: 100% !important;
    height: 50% !important;
    border-radius: 0.5em;
}

.gridTextInput:focus {
    filter: brightness(1.5);
}

#selectTypeContainer {
    height: 15%;
}

.typeContainer {
    background-color: #313131;
    width: 50%;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-top: 0;
    border-radius: 0 0 0.5em 0.5em;
    overflow: hidden;
    align-content: center;
    text-align: center;
    box-shadow: inset 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
    color: #9c9c9c;
}

.typeContainer:hover:not(.activeType) {
    filter: brightness(1.3);
}

.activeType {
    filter: brightness(1.75);
}

#wordTypeContainer {
    margin-left: 2%;
}

#imgTypeContainer {
    margin-right: 2%;
}
/*
 Tabbed part here
*/

#create-tab-start {
    display: block;
    width: 100%;
    height: 55%;
    overflow: hidden;
}

#tabsContainer {
    background-color: #313131;
    width: 100%;
    height: 10%;
    position: relative;
    left: auto;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;
}

.tabTitle {
background-color: #313131;
  width: 20%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-top: 0;
  border-bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: inset 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
  color: #9c9c9c;
  text-align: center;
  font-size: smaller;
}