#mainBox {
    position:relative !important;
    top:0;
    left:25% !important;
    width:50%;
    height:75%;
    background:rgba(0, 0, 0, 0.9);
    color:#fff;
    border:2px solid #343434;
    border-radius:0.5em;
    padding:0.25em;
    font-size:calc(var(--scale) * 2);
    backdrop-filter:blur(0.2em);
    pointer-events:auto;
    box-shadow:inset 0px 0px 30px 2px rgba(0, 0, 0, 0.5), 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

#hypnoSpawnArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.invalidValue {
    background-color: darkred !important;
}

.topStart {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.grid-start {
    display:flex;
    position:relative;
    /*top:1.5em;*/
    top: 1%;
    width:100%;
    height:93%;
    border:2px solid #343434;
    border-radius:0.5em;
    flex-wrap: wrap;
}

.gridButton {
    display:inline-grid;
    border-radius:1.0em;
    background:rgba(20, 20, 20, 0.9);
    text-align:center;
    align-content:center;
    border:2px solid rgb(52, 52, 52);
    margin:0.05em;
    font-size:4em;
    color: #9c9c9c;
}

.gridButton:hover {
    filter: brightness(1.3);
}

#createBtn, #castBtn, #removeBtn {
    width: 100%;
}

#loadFileBtn {
    display: none;
}

#loadFileLabel {
    border: 2px solid #343434;
    border-radius: 0.5em;
    background: rgba(20, 20, 20, 0.9);
    font-size: 1em;
    padding: 0 0.5em;
    color: #9c9c9c;
}

#loadFileLabel:hover, .selectContainer:hover, .gridTextInput:hover, .gradientBtn:hover, .gradientTextInput:hover, #playAnimationBtn:hover, #spawn1Btn:hover {
    filter: brightness(1.3);
}

.selectContainer {
    border-radius: 0.5em;
}

#selectHypno {
    color: #9c9c9c;
}

/*
Create stuff down here, mostly
*/
#createMenu {
    top: 1%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff rgba(0, 0, 0, 0.9);
}

.menu-start {
    position:relative;
    top:1%;
    width:100%;
    height:93%;
    border:2px solid #343434;
    border-radius:0.5em;
}

#topContainer {
    height: 7.5%;
    align-items: center;
}

.gridContainer {
    width: 100%;
    display: flex;
}

#backButton {
    width: 4.5%;
    height: 75%;
    background-color: black;
    border-radius: 50%;
    border: solid 1.5px rgb(216, 211, 124);
    margin-left: auto;
    margin-right: 0;
    color: rgb(216, 211, 124);
    filter: brightness(0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

#closeButton {
    position: relative !important;
    right: 0 !important;
    top: auto !important;
    margin-left: 4px;    
}

#backButton:hover {
    filter: brightness(1);
}

#nameContainer {
    border-bottom: 2px solid rgb(52, 52, 52);
    height: 15%;
    align-items: center;
}

#spawnContainer {
    border-bottom: 2px solid rgb(52, 52, 52);
    border-radius: 0.5em;
    height: 15%;    
}

#spawnLabel {
    width: 60%;
    height: 100%;
}

#formSpawn, #formSpawnRange,#wordTimeRange {
    width: 100%;
    height: 50%;
}

#spawnInputContainer {
    width: 40%;
    height: 100%;
    align-content: center;
    color: #9c9c9c;
}

.gridLabel {
    text-align: center;
    align-content: center;
    word-wrap: break-word;
    text-wrap: balance;
    color: #9c9c9c;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nameLabel {
    width: 50%;
    height: 100%;
}

#nameInputContainer {
    width: 50%;
    height: 100%;
    align-content: center;
    color: #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridTextInput {
    width: 100% !important;
    height: 50% !important;
    border-radius: 0.5em;
}

.gridTextInput:focus, .gradientTextInput:focus {
    filter: brightness(1.5);
}

#selectTypeContainer {
    height: 15%;
}

.typeContainer {
    background-color: #313131;
    width: 50%;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;
    overflow: hidden;
    box-shadow: inset 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
    color: #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeContainer:hover:not(.activeType), .tabTitle:hover:not(.activeType) {
    filter: brightness(1.3);
}

.activeType {
    filter: brightness(1.75);
}

#wordTypeContainer {
    margin-left: 2%;
}

#imgTypeContainer {
    margin-right: 2%;
}
/*
 Tabbed part here
*/

#create-tab-start {
    display: block;
    width: 100%;
    height: 55%;
    overflow: hidden;
}

#tabsTitleContainer {
    background-color: #313131;
    width: 100%;
    height: 10%;
    position: relative;
    left: auto;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;
}

.tabTitle {
background-color: #313131;
  width: 20%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-top: 0;
  border-bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
  box-shadow: inset 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
  color: #9c9c9c;
  text-align: center;
  font-size: smaller;
}

#tabsContainer {
    width: 100%;
    height: 90%;
}

.createTab {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*#wordValueContainer, #wordTimeContainer, #wordPositionContainer {
    height: 25%;
}*/
/*

Word down here, Base

*/

.tabWordContainer {
    width: 100%;
    display: flex;
    border: 2px solid rgb(80, 80, 80);
    border-bottom: 0;
    font-size: smaller;
    color: #9c9c9c;
    align-items: center;
}

.tabWordContainer:last-child {
    border-bottom: 2px solid rgb(80, 80, 80);
    border-radius: 0 0 0.5em 0.5em;
}

#wordValueLabel {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

#wordValueInputContainer {
    width: 65%;
    height: 100%;
    color: #9c9c9c;
    display: flex;
    align-items: center;
}

#wordTimeLabel, #wordPositionLabel {
    width: 45%;
    height: 100%;
}

#wordPositionInputContainer {
    width: 55%;
    display: flex;
    align-items: center;
    height: 100%;
}

#wordPositionInputSelect {
    height: 80% !important;
    width: 50% !important;
}

#wordPositionInput1, #wordPositionInput2 {
    width: 25% !important;
    height: 80% !important;
}

#chooseWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
    box-shadow: inset 0px 0px 30px 2px rgba(39, 102, 133, 0.45);
    align-content: center;
    text-align: center;
    color: lightcyan;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wordFontLabel {
    width: 60%;
    height: 100%;
}

#wordFontInput1, #wordFontInput2 {
    width: 50% !important;
}

#wordFontInputContainer {
    width: 40%;
    display: flex;
}

.fontPreview {
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    border: 2px solid #343434;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 50%;
}

#fontPreviewMin {
    right: 100%;
}

#fontPreviewMax {
    left: 100%;
}

/*

Word Color down here

*/

#wordColorLabel, #wordBorderLabel {
    width: 30%;
}

#wordColorInputContainer, #wordBorderInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#wordColorSelect, #wordBorderSelect {
    min-width: 50%;
    width: 100% !important;
}

#wordColorInput, #wordBorderInput {
    min-width: 50%;
}

#wordGradientLabel {
    width: 80%;
}

#wordGradientInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#wordGradientSelect {
    width: 100% !important;
}


#wordGradientCreatorContainer {
    right: 100%;
    flex-wrap: wrap;
    align-items: normal;
}

#wordGradientPreviewContainer {
    left: 100%;
    flex-wrap: wrap;
}

.gradientPreview {
    border: 2px solid rgb(80,80,80);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
    the bg colors are just to test now
*/
#wordGradientPreviewText, #animationPreviewText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    border: 2px solid rgb(80,80,80);
    color: transparent;
    background-image: linear-gradient(#9c9c9c,#9c9c9c);
    background-clip: text;
}

#wordGradientPreviewBg {
    background-image: linear-gradient(#9c9c9c,#9c9c9c);
}

.sideCreatorBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(80, 80, 80);
}

#preloadGradientLabel, #preloadGradientSelect, #changeColorGradientLabel, #shapeGradientLabel, #blendSelect, #typeGradientLabel, #typeGradientSelect, #blendGradientLabel, #nameGradientInput, #shapeSelect, #changeColorGradientInput, #angleGradientInputRange, #positionGradientInputRange {
    width: 50% !important;
}

#gradientSelectedLabel, #gradientSelectedSelect, #colorGradientSelectedLabel, #colorGradientSelectedSelect, #angleGradientLabel, #angleGradientInput, #positionGradientSelect, #positionGradientInput {
    width: 25% !important;
}

#gradientBtnContainer, #colorGradientBtnContainer {
    width: 50% !important;
    border-radius: 0.5em;
    overflow: hidden;
}

.gradientBtn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gradientAddBtn, #colorGradientAddBtn, #keyframeAddBtn, #propertyAddBtn {
    background-color: #033f03;
    border-right: 2px solid rgb(80, 80, 80);
}

#gradientRemoveBtn, #colorGradientRemoveBtn, #keyframeRemoveBtn, #propertyRemoveBtn {
    background-color: #5a0606;
    border-left: 2px solid rgb(80, 80, 80);
}

.gradientLabel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nameGradientLabel {
    width: 50%;
}

.gradientTextInput {
    width: 50%;
    border-radius: 0.5em;
}

#previewGradientContainer {
    min-height: 10%;
}

/*

Word Effects Down Here

*/

#wordOpacityInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#wordOpacityLabel {
    width: 50%;
}

#wordOpacityInput {
    width: 25% !important;
}

#wordOpacityRange {
    width: 75% !important;
}

#wordRotationContainer {
    overflow: hidden;
}

#wordRotationLabel {
    width: 50%;
}

#wordRotationInputContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wordRotationInput1, #wordRotationInput2 {
    width: 50% !important;
    text-align: center;
}

#wordAnimationLabel {
    width: 80%;
}

#wordAnimationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#wordAnimationSelect {
    width: 100% !important;
}

.animationPreview {
    background-color: rgba(0, 0, 0, 0.9);
    width: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    border: 2px solid #343434;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 50%;
}

#wordAnimationCreatorContainer {
    right: 100%;
    flex-wrap: wrap;
    align-items: normal;
}

#wordAnimationPreviewContainer {
    left: 100%;
    flex-wrap: wrap;
}

#preloadAnimationLabel, #preloadGradientSelect, #durationAnimationLabel, #durationAnimationInput, #iterationsAnimationLabel, #offsetInputRange, #propertyNameLabel, #propertyNameInput, #propertyValueLabel, #propertyValueInput {
    width: 50% !important;
}

#iterationsAnimationInput, #iterationsAnimationInputRange, #keyframeSelectedLabel, #keyframeSelectedSelect, #nameAnimationLabel, #nameAnimationInput, #easeAnimationLabel, #easeAnimationSelect, #offsetAnimationLabel, #offsetAnimationInput, #propertySelectedLabel, #propertySelectedSelect {
    width: 25% !important;
}

#animationBtnContainer, #propertyBtnContainer {
    width: 50% !important;
    border-radius: 0.5em;
    overflow: hidden;
}

#playAnimationBtn {
    min-height: 10%;
    justify-content: end;
    background-color: #033f03;
}

/*

Word Preview Down Here

*/

#spawn1Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #033f03;
    border: 2px solid;
    border-radius: 0.5em;
}

/*

Word Hypnos down here

*/

.wordHypno {
    position:absolute;
    z-index:20;
    user-select:none;
    pointer-events:none;
}

/*

Tippy theme

*/

.tippy-box[data-theme~='error'] {
    background-color: darkred;
    color: #9c9c9c;
}

.tippy-box[data-theme~='error'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: darkred;
}
  .tippy-box[data-theme~='error'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: darkred;
}
  .tippy-box[data-theme~='error'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: darkred;
}
  .tippy-box[data-theme~='error'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: darkred;
}